.video {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video > video {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
  object-fit: cover;
}

.video > p {
  text-align: center;
  font-size: 65px;
  color: white;
  z-index: 2;
}

@media (max-width: 1000px) {
  .video {
    height: 55vh;
  }

  .video > video {
    height: 55vh;
  }
}

@media (max-width: 825px) {
  .video {
    height: 60vh;
  }

  .video > video {
    height: 60vh;
  }
}

@media (max-width: 450px) {
  .video p {
    font-size: 50px;
  }

  .video {
    height: 45vh;
  }

  .video > video {
    height: 45vh;
  }
}
